@import "components/ui/__variables";

.home-hero {
  background-color: $black-color;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      $black-color
    ),
    url("/assets/images/hero/waves-7146711_1920.jpg");
  background-size: cover;
  padding: 150px 5%;

  @media screen and (max-width: $large-screen) {
    padding-top: 180px;
  }

  @media screen and (max-width: $medium-screen) {
    padding: 60px 5%;
    background-size: 100% 100%;
  }

  h1 {
    color: $white-color;
    font-size: 46px;
    line-height: 80px;
    margin-top: 100px;

    @media screen and (max-width: $large-screen) {
      font-size: 40px;
      line-height: 60px;
    }

    @media screen and (max-width: $medium-screen) {
      font-size: 32px;
      line-height: 50px;
      text-align: center;
    }
  }

  h1::before {
    content: "Unleash the Power of AI in Advertisement Generation";
    animation: hero-animate infinite 2s;
  }
  h3 {
    color: $gray-muted-color;
    // font-size: 60px;
    font-size: 16px;
    // line-height: 100px;

    @media screen and (max-width: $large-screen) {
      // font-size: 40px;
      line-height: 30px;
    }

    @media screen and (max-width: $medium-screen) {
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin-top: 2rem;
      color: $white-color;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: $medium-screen) {
      justify-content: center;
    }
  }

  button {
    margin-top: 40px;
    height: $button-height;
    // background-color: transparent !important;
    @media screen and (max-width: $medium-screen) {
    }

    @media screen and (max-width: $small-screen) {
      margin-left: auto;
      display: block;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }

  @keyframes dash {
    from {
      fill: red;
      // stroke-dashoffset: 922;
    }
    to {
      fill: $white-color;
      // stroke-dashoffset: 0;
    }
  }

  svg {
    width: 90%;
    height: 90%;
    float: right;
    path {
      fill: $gray-muted-color;
      stroke-dasharray: 1000 !important;
      // stroke-dashoffset: 1000;
      // animation: dash 5s linear alternate infinite;
    }

    text-align: center;

    @media screen and (max-width: $large-screen) {
      margin-top: 3rem;
    }

    @media screen and (max-width: $small-screen) {
      float: unset;
      margin-left: auto;
      display: block;
      margin-right: auto;
      margin-top: unset;
    }
  }
}

.home-hero__modal {
  bottom: -80vh !important;
  position: absolute !important;

  p {
    color: $white-color;
    margin-top: 0rem;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .default-modal {
    width: 100% !important;
    bottom: -80vh !important;
    position: absolute !important;
    padding: 1rem !important;
    background-color: $black-color !important;
    border-radius: $border-radius;
    button {
      background-color: $black-color;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.home-hero__modal2 {
  bottom: -80vh !important;
  position: absolute !important;

  p {
    color: $white-color;
    margin-top: 0rem;
    font-size: 0.8rem;
  }
  .default-modal {
    width: 100% !important;
    bottom: -80vh !important;
    position: absolute !important;
    background-color: $black-color !important;
    // border-radius: $border-radius;
    border: 1px solid $gray-muted-color;
    border-radius: $border-radius;
    input {
      background-color: $black-color;
      color: $white-color;
      border: 1px dashed $gray-muted-color !important;
      &::placeholder {
        color: $white-color;
      }
    }
  }
}

// @keyframes hero-animate {
//   0% {
//     opacity: 0;
//     content: "Unleash the Power of AI in Advertisement Generation";
//   }

//   100% {
//     opacity: 1;
//     content: "Create Compelling Ads and Promotional Media Contents Effortlessly.";

//   }
// }
